.DS_Store
src/data/gitskills_data/data/
src/data/gitskills_data/generated_data/
/src/data/gitskills_data/export.log
/src/data/gitskills_data/upload.log
/src/data/gitskills_data/README.md
/src/data/gitskills_data/.gitattributes
